*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}

h1{
    margin-bottom: 15px;
}



.row{
    background-color: antiquewhite;
    width: 100%;
}


@media only screen and (min-width: 992px) {
 

    .col-lg-4{
float: left;
        border: 2px solid black;
        background-color:rgb(190, 190, 90);;
      width: 30%;
      margin:10px ;

    }
.mycolor1{
    background-color: rgb(201, 36, 165);
}
.mycolor2{
    background-color: rgb(182, 21, 21);

}
.mycolor3{
    background-color: rgb(176, 111, 12);

}


    .container{
    margin-left: 55px;
}
    div h3{
        height: 10%;
        width: 20%;
        float: right;
        background-color: rgb(176, 35, 117);
        border: 2px solid black;
        margin-top: 0%;
    }


    #footer{
    height: 40px;
    background-color: rgb(132, 132, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
                
}

}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    /* STYLES HERE */
    .col-md-6{
        float: left;
        border: 2px solid black;
        background-color:rgb(193, 193, 80);;
     width: 45%;
     margin: 10px;

    }


    .mycolor1{
    background-color: rgb(201, 36, 165);
}
.mycolor2{
    background-color: rgb(182, 21, 21);

}
.mycolor3{
    background-color: rgb(176, 111, 12);

}
    div h3{
        height: 10%;
        width: 20%;
        float: right;
        background-color: rgb(216, 37, 52);
        border: 2px solid black;
        margin-top: 0%;
    }

    .container{
    margin-left: 40px;
}


    .change{
        width: 92.6%;
    }

    #footer{
    height: 40px;
    background-color: rgb(132, 132, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
                
}

}

@media only screen and (max-width: 768px) {
    /* STYLES HERE */
    .col-sm-12{
        float: left;
        border: 2px solid black;
        background-color: rgb(194, 194, 74);;
        width: 100%;
        margin: 10px;
   

    }



    .mycolor1{
    background-color: rgb(201, 36, 165);
}
.mycolor2{
    background-color: rgb(182, 21, 21);

}
.mycolor3{
    background-color: rgb(176, 111, 12);

}

    .container{
    margin-left: 0px;
    padding-right: 30px;
}
    div h3{
        height: 10%;
        width: 20%;
        float: right;
        background-color: rgb(222, 192, 21);
        border: 2px solid black;
        margin-top: 0%;
        margin-right: 0%;
    }

    #footer{
    height: 40px;
    background-color: rgb(132, 132, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
                
}

}
